# very reckless not specifying versions... will freeze later
gym
gym3
torch
numpy
matplotlib
# einops # aspirational

# procgen gets mad if this isn't here
pyqt5

# must be lauro branch. master is not supported (different parsing would be required)
git+https://github.com/UlisseMini/procgenAISC@lauro
