# very reckless not specifying versions... will freeze later. maybe.
gym
gym3
torch
numpy
matplotlib
tqdm
ipywidgets
procgen
# einops # aspirational


# Build procgenAISC, not needed for now

# pyqt5 # procgen build gets mad if this isn't here
# must be lauro branch. master is not supported (different parsing would be required)
# git+https://github.com/UlisseMini/procgenAISC@lauro
